.navbar {
  background-color: #ffffff;
  .navbar-brand img {
    height: 80px;
  }
  .ms-auto img {
    height: 45px;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.cart-icon {
  position: relative;
  cursor: pointer;

  .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #d9232e;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
