.search-results {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 30px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .results-container {
    .cards-container {
      display: flex;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      margin: 20px auto;
      max-width: 1200px;

      .train-card {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .train-image {
          margin-bottom: 10px;
          width: 100%;
          height: 180px;
          object-fit: cover;
        }

        .train-info {
          text-align: left;

          h3 {
            margin: 0 0 30px;
            font-size: 1.2rem;
            color: #d9232e;
          }

          p {
            margin: 5px 0;
            font-size: 0.9rem;
            color: #555;
          }

          .btn-details {
            margin-top: 40px;
            padding: 10px 15px;
            background-color: #d9232e;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #a81a22;
            }
          }
        }
      }
    }

    .btn-back {
      display: block;
      margin: 0px auto;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: #555;
      }
    }

    .btn-green {
      display: block;
      margin: 0px auto;
      padding: 10px 20px;
      background-color: #CE2029; ;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: #A0001C;
      }
    }

  }

  .no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: -100px;

    .img-no-transport {
      width: 300px;
      margin: 40px;
    }

    h2 {
      color: #d9232e;
    }

    p {
      font-size: 20px;
      color: #555;
    }

    .btn-home {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #555;
      }
    }
  }
}

.buy-ticket {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  cursor: pointer;
}

.title-buy-ticket {
  margin-left: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.details {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-details {
  background-color: #4CAF50;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  padding: 15px;
}

.button-details:hover {
  background-color: #45a049;
}

.btn-custom {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}